/*----------------------------body--------------------------------*/

body {
    margin: 0;
    background-color: #162936;
    color: #ffffff;
    border-style: solid;
    border-color: #dbb466;
    font-family: 'Oxygen-Bold';
    font-weight: bold;
}

h2,
h3,
h4,
h5,
h6 {
    font-family: 'Oxygen-Bold';
    font-weight: bold;
}

h1 {
    color: rgb(255, 255, 255);
    font-size: 50px;
    font-family: 'Oxygen-Bold';
    font-weight: bold;
    font-style: italic;
    text-align: center;
}


/* -----------------------------animation------------------------*/

@keyframes animation {
    from {
        transform: translate(0, 0);
    }
    33% {
        transform: translate(0, -25%);
    }
    66% {
        transform: translate(0, -50%);
    }
    to {
        transform: translate(0px, -75%);
    }
}

@-webkit-keyframes animation {
    from {
        -webkit-transform: translateX(0%);
    }
    33% {
        -webkit-transform: translate(0, -25%);
    }
    66% {
        -webkit-transform: translate(0, -50%);
    }
    to {
        -webkit-transform: translateX(-75%);
    }
}


/* fin animation*/


/*--------------------------Diaporama-------------------------------*/

div#APdiapo {
    border-radius: 12px;
    position: relative;
    overflow: hidden;
    height: 20%;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

div.diapo>img {
    height: 24%;
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
}

div.diapo {
    display: inline-block;
    width: 100%;
    height: 600%;
    position: relative;
    animation-name: animation;
    -webkit-animation: animation 12s ease-in-out infinite;
}

div.diapo:hover {
    animation-name: animation;
    animation-play-state: paused;
    -webkit-animation-name: animation;
    -webkit-animation-play-state: paused;
}


/*---------------------------LOGO---------------------------------------*/

img#logo {
    margin-left: 0;
    height: 10%;
    width: 20%;
}

img#page {
    height: 4%;
    width: 2%;
    float: right;
    padding: 10px;
}


/*-----------------------NAV-------------------------------------------*/

nav {
    border-radius: 8px;
    background-color: #425664;
    line-height: 48px;
    font-size: 18px;
    margin: 0 8px 30px 8px;
    text-align: center;
    height: 50px;
    position: sticky;
    top: 0px;
    z-index: 1;
    /*position: fixed; */
}

ol.menu>li {
    display: inline-block;
    width: 200px;
    text-align: center;
    margin-top: 2px;
    margin-bottom: 2px;
    position: fixe;
}

ol.menu li ul {
    display: none;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 150px;
    position: absolute;
}

ol.menu li:hover ul {
    display: block;
}

ol.menu a {
    text-decoration: none;
}

.contenu {
    /* display: flex;
    justify-content: space-around; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    padding: 10px;
}

ul {
    list-style-type: none;
}

li a {
    display: block;
}

li a:hover {
    background-color: #dbb466;
}


/*--------------------------description-----------------------------------------------*/

#description {
    display: grid;
    grid-template-rows: auto auto auto;
    grid-gap: 10px;
    background-color: #F6F4F2;
    padding: 10px;
}


/*-------------------------------DIV--------------------------------------------------------*/

div {
    border-radius: 5px;
    padding: 20px;
    word-wrap: break-word;
}

p {
    word-wrap: break-word;
}


/*---------------------------------partdescription----------------------------------------*/

#partdescription {
    background-color: #425664;
}


/*------------------------------lire la suite---------------------------------------------*/

#more1,
#more2,
#more {
    display: none;
}


/*------------------------------------------form----------------------------------------*/

.box {
    background: rgba(0, 0, 0, );
    background: rgba(0, 0, 0, 0.5);
    display: none;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}


/*Full-width input fields */

input[type=text],
input[type=password],
input[type=date],
input[type=file],
select,
textarea {
    width: 80%;
    padding: 8px;
    margin: 10px auto;
    display: block;
    border: black;
    background: rgb(230, 225, 225);
    border-radius: 12px;
    resize: none;
}


/*Add a background color when the inputs get focus */

input[type=text]:focus,
input[type=password]:focus,
input[type=date]:focus {
    background-color: rgba(221, 221, 221, 0.842);
    outline: none;
}


/* Set a style for all buttons */

button {
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    display: inline;
    margin-left: 30%;
    margin-right: 30%;
    border-radius: 12px;
    background-color: white;
    color: black;
    border: 2px solid #dbb466;
    /* Green */
    text-align: center;
}

button:hover {
    opacity: 0.8;
    border-radius: 16px;
}


/* Extra styles for the cancel button */

.cancelbtn {
    background-color: #f44336;
}


/* Float cancel and signup buttons and add an equal width */

.cancelbtn,
.signupbtn {
    display: flex;
    width: 90px;
    margin-right: 10%;
    float: right;
}

.signupbtn:hover {
    display: flex;
    width: 90px;
    margin-right: 10%;
    float: right;
    background-color: rgb(186, 251, 120);
}


/* Add padding to container elements */

.container {
    padding: 16px;
}


/* The Modal (background) */

.modal {
    animation-name: animatetop;
    animation-duration: 0.4s;
    margin: auto;
    background-color: #030303;
    width: 30%;
}


/* The ModalRecrut (background) */

.modalRecrut {
    animation-name: animatetop;
    animation-duration: 0.4s;
    margin: auto;
    opacity: 0.9;
    background-color: #030303;
    width: 30%;
}

@keyframes animatetop {
    from {
        top: 300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}


/* Style the horizontal ruler */

hr {
    border: 3px solid #000000;
    margin-bottom: 25px;
}


/* The Close Button (x) */

.close {
    position: relative;
    float: right;
    top: 15px;
    font-size: 40px;
    font-weight: bold;
    color: #fa0c0c;
}


/* Clear floats */

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}


/*---------------------footer--------------------*/

footer {
    background-color: #425664;
    bottom: 0px;
    width: 100%;
    text-align: center;
}

a {
    color: #dbb466;
    border-radius: 12px;
}

a:hover {
    color: #425664;
    border-radius: 16px;
}

#buttons {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
    padding: 10px;
    height: 50px;
}

.clearfix {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
    padding: 10px;
    height: 50px;
}

#myBtn1,
#myBtn2,
#myBtn {
    padding: 0;
    float: right;
    width: 100px;
    height: 20px;
}

#logout {
    margin: auto;
    padding-block: auto;
}


/*-----------------admin-------------------*/

#logoutadmin {
    float: right;
}


/* Create two equal columns that floats next to each other */

.column {
    float: left;
    width: 47%;
    height: 300px;
    /* Should be removed. Only for demonstration */
    text-align: center;
}


/* Clear floats after the columns */

.row:after {
    content: "";
    display: table;
    clear: both;
}

#dashpict {
    width: 25%;
    height: 60%;
}


/*-----------------captcha----------------*/


/************type de traducteur -------------*/

#Traduc {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    text-align: center;
    margin: auto;
    padding: auto;
}

#Traduc td,
#Traduc th {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

#Traduc tr:nth-child(even) {
    background-color: #dbb466a9;
}

#Traduc tr:hover {
    background-color: #ddd;
}

#Traduc th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #0f1f2a3f;
    color: hsl(0, 0%, 100%);
}


/*edit profil*/

.profilepress-edit-profile-status {
    width: 400px;
    text-align: center;
    background-color: #e74c3c;
    color: #ffffff;
    border: medium none;
    border-radius: 4px;
    font-size: 17px;
    font-weight: normal;
    line-height: 1.4;
    padding: 8px 5px;
    margin: auto;
}

.memo-edprofile-success {
    width: 400px;
    text-align: center;
    background-color: #2ecc71;
    color: #ffffff;
    border: medium none;
    border-radius: 4px;
    font-size: 17px;
    font-weight: normal;
    line-height: 1.4;
    padding: 8px 5px;
    margin: auto;
}

#sc-edprofile {
    background: #f0f0f0;
    width: 400px;
    margin: 0 auto;
    margin-top: 8px;
    margin-bottom: 2%;
    transition: opacity 1s;
    -webkit-transition: opacity 1s;
    text-align: center;
}

#sc-edprofile h1 {
    background: #dbb466a9;
    padding: 20px 0;
    font-size: 140%;
    font-weight: 300;
    text-align: center;
    color: #fff;
}

div#sc-edprofile .sc-container {
    background: #f0f0f0;
    padding: 6% 4%;
    text-align: center;
}

div#sc-edprofile input[type="email"],
div#sc-edprofile input[type="text"],
div#sc-edprofile input[type="password"],
div#sc-edprofile select,
div#sc-edprofile textarea {
    width: 92%;
    background: #fff;
    margin-bottom: 4%;
    border: 1px solid #ccc;
    padding: 4%;
    font-family: 'Open Sans', sans-serif;
    font-size: 95%;
    color: #555;
}

div#sc-edprofile select {
    width: 100%;
    text-align: center;
}

div#sc-edprofile textarea {
    height: 100px;
    text-align: center;
}

div#sc-edprofile input[type="submit"] {
    width: 100%;
    background: #dbb466a9;
    border: 0;
    padding: 4%;
    font-family: 'Open Sans', sans-serif;
    font-size: 100%;
    color: #fff;
    cursor: pointer;
    transition: background .3s;
    -webkit-transition: background .3s;
    text-align: center;
}

div#sc-edprofile input[type="submit"]:hover {
    background: #22bb43;
    text-align: center;
}

#profil {
    text-align: center;
    padding-left: 29%;
    width: 50px;
}

#Justif {
    display: none;
}

.Soumettre {
    width: 200px;
    float: right;
}

.Soumettre:hover {
    width: 200px;
    float: right;
    background-color: rgb(186, 251, 120);
}


/*Rating*/

#button {
    border: 0;
    background: transparent;
    font-size: 1.5em;
    margin: 0;
    padding: 0;
    float: right;
}

#button:hover,
#button:hover+#button,
#button:hover+#button+#button,
#button:hover+#button+#button+#button,
#button:hover+#button+#button+#button+#button {
    color: rgb(247, 242, 0);
}

.Dash {
    padding-left: 22%;
}

.Dashul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 20%;
    background-color: #162936;
    position: fixed;
    height: 100%;
    overflow: auto;
    border-style: solid;
    border-color: #dbb466;
}

.Dashli a {
    display: block;
    color: rgb(255, 255, 255);
    padding: 20px 25px;
    text-decoration: none;
    text-align: center;
}

.Dashli a.active {
    background-color: #dbb466;
    color: white;
}

.Dashli a:hover:not(.active) {
    background-color: #dbb466;
    color: white;
}

.Dashnav {
    position: fixed;
    border-style: solid;
    border-color: #dbb466;
    z-index: 1;
    background-color: #162936;
}